{{#each this}}
        <li class="country-info-item">
        <img class="country-flag" src="{{flags.svg}}" alt="country-flag" width="100">
        <p class="capital">{{name}}</p>
        </li>
        {{/each}}